<div class="card">
  <div class="card-header">
    <select class="form-select" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">Vé được bán nhiều nhất trong tuần</option>
      <option value="2">Vé được bán nhiều nhất trong tháng</option>
      <option value="3">Vé được bán nhiều nhất trong năm</option>
      <option value="4">Lịch chiếu được tạo ra trong tuần</option>
      <option value="5"></option>
    </select>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <div style="width: 800px;">
          <canvas #acquisitionsCanvas></canvas>
        </div>
      </div>
      <div class="col-sm-4">
        <canvas #myChartCanvas></canvas>
      </div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>

