.card-img-top{
    max-height: 200px;
    max-width: 100%;
}
.Screen-display{
    max-height: 800px;
}

.btn-margin {
    margin-right: 10px; /* Điều chỉnh khoảng cách theo mong muốn của bạn */
}

.dark-modal {
    background-color: #292b2c;
    color: white;
}

.modal-title ,
.Screen{
    color: white;
}